body {
  height: 100vh;
  background: repeating-linear-gradient(
    to right,
    #fed9d9 0px,
    #fed9d9 40px,
    #ffffff 40px,
    #ffffff 50px
  );
}

.body-wrap {
  width: 1512px;
  height: 4090px;
  font-family: "Nunito";
  height: 100vh;
  background: repeating-linear-gradient(
    to right,
    #fed9d9 0px,
    #fed9d9 40px,
    #ffffff 40px,
    #ffffff 50px
  );
}

.homepage-main-wrap {
  margin-left: 118.5px;
  margin-right: 118.5px;
}

.navbar,
.nav-link,
.navbar-brand {
  color: #9e1a26;
}

.icon {
  width: 24px;
  height: 22px;
}

.user-logo {
  padding-left: 30px;
}

.cart-logo {
  padding-left: 20px;
}

.container-a {
  text-align: left;
  width: 677px;
  height: 520px;
}

.header-headline {
  text-align: left;
  width: 677px;
  width: fit-content;
  margin-left: 118.5px;
  color: #9e1a26;
  font-weight: bolder;
  font-size: 58px;
}

.header-text {
  width: 677px;
  width: fit-content;
  text-align: left;
  margin-left: 118.5px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 16px;
  color: #471b14;
  font-size: 16.5px;
}

.headerImage {
  width: 522.48px;
  height: 558px;
  display: flex;
  flex-shrink: 0;
  float: right;
  margin-top: -554.5px;
  margin-bottom: 114.5px;
  margin-left: -860px;
  margin-right: 190px;
}

.OrderButton {
  width: 255px;
  height: 44px;
  text-align: center;
  background-color: #9e1a26;
  color: #ffffff;
  margin-left: 118.5px;
  border-radius: 12px;
  border-color: #9e1a26;
}

.shuga-offerings {
  margin-top: -120px;
}

.column-type-a {
  background-color: #a6142c;
  color: #ffffff;
}

.column-type-b {
  background-color: #ec8087;
  color: #9e1a26;
}

.card-text-a,
.card-title-a {
  color: white;
}

.card-text-b,
.card-title-b {
  color: #9e1a26;
}

.hero {
  width: 1273px;
  height: 746px;
  margin-top: -50px;
  margin-bottom: 100px;
  margin-left: 118.5px;
  margin-right: 118.5px;
}

.heroHeading {
  color: #9e1a26;
  width: 624.5px;
  height: 317px;
  font-size: 38px;
}

.heroSectionText {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 624.5px;
  height: 17px;
  margin-top: 214.5px;
  margin-bottom: 214.5px;
  font-size: 18px;
}

.heroImage {
  width: 624.5px;
  height: 546px;
  display: flex;
  flex-shrink: 0;
  float: right;
  margin-top: -354.5px;
  margin-bottom: 114.5px;
}

.delicious-offerings {
  height: 903px;
  margin-top: -100px;
}

.grid-offerings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid img {
  width: 100%;
}

.delicious-offerings h3 {
  text-align: center;
  color: #7d142c;
  width: 568px;
  height: 55px;
  margin-left: 352px;
  margin-right: 352px;
}
.testimonials {
  padding: 100px 0;
}
.testimonials h3 {
  margin-bottom: 20px;
  color: #9e1a26;
}

.testimonial-image {
  color: #7a7777;
}

.testimonials .card {
  border-bottom: 3px #007bff solid !important;
  transition: 0.5s;
  margin-top: 60px;
}
.testimonials .card i {
  color: #ffffff;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: -40px auto 0 auto;
}

.footer-container {
  color: #ffffff;
  background: repeating-linear-gradient(
    to right,
    #570811 0px,
    #570811 40px,
    #3a0914 40px,
    #3a0914 50px
  );
}

#emailInput {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 20px;
  color: #ffffff;
}

#emailInput::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

.fa {
  color: #ffffff;
}

hr {
  height: 1px;
}

@media only screen and (max-width: 860px) {
  .body-wrap {
    width: 100%;
  }
}
